<launch>
	<arg name = "cam" default="true"/>
	<include file="$(find servo_array_driver)/launch/servo_driver.launch"/>
	<group if ="$(arg cam)">
		 <node name="image_proc" pkg="image_proc" type="image_proc" ns="csi_cam_0"/>
		<include file = "$(find racer_launch)/launch/jetson_csi_cam.launch"/>
	</group>
</launch>
